.fixed-layer {
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.fixed-layer #logo {
  width: 39px;
  height: 13px;
  background-image: url("../images/Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1rem;
  top: 1rem;
  position: fixed;
}

.fixed-layer .nav-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  width: 200px;
}

.fixed-layer nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 200px;
  background: linear-gradient(to right, black, transparent);
}

.fixed-layer .anchors {
  margin: 0.3rem 1rem;
  text-decoration: none;
  color: #aaaaaa;
}

.fixed-layer .anchors.active {
  color: #ffffff;
}

.fixed-layer .anchors.active:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-top: 5px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 5px solid transparent;
}

.fixed-layer .anchors.active:hover {
  color: white;
}

.fixed-layer .anchors:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.25s;
}
