.clock-wrapper {
  height: 70vh;
}

.clock-wrapper .clock-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -50;
}

.clock-wrapper .clock-group .clock-elements {
  width: 354px;
  height: 358px;
  max-width: 100%;
  position: relative;
  left: 8px;
}

.clock-wrapper .clock-group .clock-elements .clock-partials {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 354px;
  height: 358px;
}

.clock-wrapper .clock-group .clock-elements .clock-bg {
  width: 354px;
  height: 358px;
  background-image: url("../images/clock-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .outer-ring {
  width: 325.68px;
  height: 329.36px;
  background-image: url("../images/outer-ring.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .inner-ring {
  width: 300.9px;
  height: 304.3px;
  background-image: url("../images/inner-ring.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .unit-text {
  position: relative;
  top: 100px;
}

.clock-wrapper .clock-group .clock-elements .GMV-indicator {
  position: relative;
  left: -100px;
  top: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.clock-wrapper .clock-group .clock-elements .GMV-indicator .clock-description {
  text-align: left;
  margin: 0.5rem 0 0 -1.2rem;
}

.clock-wrapper #GMV-time {
  position: relative;
  top: -84px;
  font-size: 24px;
}

.clock-wrapper #GMV-number {
  font-size: 120px;
  font-weight: 600;
  text-shadow: 0 0 14px;
}

.gauge-wrapper {
  /*position: absolute;
  left: calc(50% + 120px);
  top: 4rem;*/
}

@media (max-width: 720px) {
  .gauge-wrapper {
    position: relative;
    width: 100vw;
  }
}

@media (min-width: 720px) {
  .gauge-wrapper {
    position: absolute;
    left: calc(50% + 120px);
    top: 4rem;
  }
}

.gauge-wrapper .gauge-elements {
  width: 226px;
  height: 226px;
}

.gauge-wrapper .gauge-partials {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gauge-wrapper .gauge-partials .gauge-bg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 226px;
  background-image: url("../images/gauge-mobile.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.gauge-wrapper .gauge-partials .gauge-number {
  margin-left: 8px;
}

.gauge-wrapper #progressBar {
  position: relative;
  top: 3px;
}

.gauge-wrapper #mobileRatio {
  font-size: 48px;
  font-weight: 400;
  text-shadow: 0 0 8px;
}

.gauge-wrapper .mobile-indicator {
  position: relative;
  top: 226px;
  left: 108px;
}

.gauge-wrapper .gauges-description {
  padding-left: 4rem;
  text-align: left;
  white-space: nowrap;
}

.description-title {
  font-size: 20px;
  line-height: 30px;
}

.description-text {
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0px 2px 9px rgba(255, 255, 255, 0.6);
}

.fixed-layer {
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.fixed-layer #logo {
  width: 39px;
  height: 13px;
  background-image: url("../images/Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1rem;
  top: 1rem;
  position: fixed;
}

.fixed-layer .nav-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  width: 200px;
}

.fixed-layer nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 200px;
  background: linear-gradient(to right, black, transparent);
}

.fixed-layer .anchors {
  margin: 0.3rem 1rem;
  text-decoration: none;
  color: #aaaaaa;
}

.fixed-layer .anchors.active {
  color: #ffffff;
}

.fixed-layer .anchors.active:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-top: 5px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 5px solid transparent;
}

.fixed-layer .anchors.active:hover {
  color: white;
}

.fixed-layer .anchors:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.25s;
}

.cards-wrapper {
  margin: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-wrapper .card {
  width: 353px;
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cards-wrapper .card:hover {
  cursor: pointer;
  position: relative;
  top: -3px;
  transition: 0.45s;
}

.cards-wrapper .card:hover .card-text {
  background: #763930;
}

.cards-wrapper .card:hover .card-image {
  background-size: 103% 103%;
  transition: 0.25s;
}

.cards-wrapper .card:hover .text-container {
  z-index: -10;
}

.card-image {
  background-image: url("../images/image-test.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 156px;
  z-index: -10;
}

.card-image .corner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  color: #FF5733;
}

.text-container {
  width: 100%;
  height: 100px;
  flex-grow: 1;
  color: white;
}

.card-text {
  width: 100%;
  min-height: 66px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
}

.cards-collapsed {
  max-height: 576px;
  overflow: hidden;
}

.btn-load-more {
  width: 96px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #FF5733;
  color: #FF5733;
  border-radius: 8px;
  margin: auto;
}

.btn-load-more:hover {
  cursor: pointer;
  box-shadow: inset 0 0 6px 2px #FF5733;
}

.outer-ring {
  animation: outerRing 3.5s 0.7s cubic-bezier(0.17, 0.37, 0.5, 0.75) infinite;
}

@keyframes outerRing {
  0 {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner-ring {
  animation: innerRing 3.5s 0.7s cubic-bezier(0.17, 0.37, 0.5, 0.75) infinite;
}

@keyframes innerRing {
  0 {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "PingFang SC";
}

a {
  text-decoration: none;
}

img, .images {
  margin: auto;
  max-width: 100%;
}

.background {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.background .full-moon {
  position: absolute;
  background: url(../images/full-moon.png) center center no-repeat;
  background-size: 100%;
  width: 595px;
  height: 573px;
  margin: auto;
  z-index: -100;
}

@media screen and (min-width: 720px) {
  .wrapper {
    width: 732px;
    margin: auto;
  }
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }
  .cards-wrapper {
    justify-content: center;
  }
  #navBar {
    display: none;
  }
}

.pages:nth-child(n+2):before {
  content: '';
  display: block;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  height: 2rem;
}

#page1 {
  min-height: 100vh;
}

.pages {
  text-align: center;
}

.pages .content-wrapper {
  margin-top: 40px;
}

.pages .subtitles {
  margin: 1rem 0 0 0;
}

.pages .description {
  margin: 0 0 1rem 0;
}

.pages .theme-image {
  width: 135.6px;
  max-width: 100%;
  height: 107.4px;
  background-image: url("../images/theme-image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pages .data-trend {
  width: 305px;
  max-width: 100%;
  height: 64px;
  background-image: url("../images/data-trend-before.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.pages .video {
  width: 732px;
  max-width: 731px;
  height: 371px;
  background-image: url("../images/video.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 720px) {
  .pages .video {
    width: 100vw;
    height: 50.75239vw;
  }
}

.pages .big-data-inspection {
  max-width: 362px;
  height: 181px;
  background-image: url("../images/big-data-inspection.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 720px) {
  .pages .big-data-inspection {
    width: 100vw;
    height: 50vw;
  }
}

.pages .text-under-image {
  margin: 1rem;
  font-size: 0.8rem;
  color: #aaa;
}

.pages .video-text {
  text-align: left;
  font-size: 1.2rem;
}

@media (max-width: 720px) {
  .pages .video-text {
    padding-left: 1rem;
  }
}

.pages .default-bottom-text {
  margin: 1rem 0 4rem 0;
  color: #FF5733;
}

.hidden {
  display: none !important;
}
