.clock-wrapper {
  height: 70vh;
}

.clock-wrapper .clock-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.clock-wrapper .clock-group .clock-elements {
  width: 356px;
  height: 356px;
  position: relative;
}

@media (min-width: 720px) {
  .clock-wrapper .clock-group .clock-elements {
    left: 8px;
  }
}

@media (max-width: 320px) {
  .clock-wrapper .clock-group .clock-elements {
    top: 18px;
  }
}

.clock-wrapper .clock-group .clock-elements .GMV-title {
  position: absolute;
  top: -4px;
  left: 28px;
  font-size: 1.5rem;
}

.clock-wrapper .clock-group .clock-elements .clock-partials {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 356px;
}

.clock-wrapper .clock-group .clock-elements .clock-background-wrapper {
  position: relative;
  width: 356px;
  height: 356px;
}

.clock-wrapper .clock-group .clock-elements .clock-bg {
  width: 356px;
  height: 356px;
  background-image: url("../images/clock-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.clock-wrapper .clock-group .clock-elements .outer-ring {
  width: 327.52px;
  height: 327.52px;
  background-image: url("../images/outer-ring.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .inner-ring {
  width: 302.6px;
  height: 302.6px;
  background-image: url("../images/inner-ring.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .unit-text {
  position: relative;
  top: 100px;
}

.clock-wrapper .clock-group .clock-elements .GMV-indicator {
  position: relative;
  left: -100px;
  top: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.clock-wrapper .clock-group .clock-elements .GMV-indicator .clock-description {
  text-align: left;
  margin: 0.5rem 0 0 -1.2rem;
}

@media (max-width: 720px) {
  .clock-wrapper .clock-group .clock-elements .GMV-indicator .clock-description {
    margin-left: 5em;
    font-size: 80%;
  }
}

.clock-wrapper .clock-group .clock-elements .shiny-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  z-index: 10;
  background-image: url("../images/graduation_normal.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper .clock-group .clock-elements .shiny-point:hover {
  background-image: url("../images/graduation_hover.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.clock-wrapper .clock-group .clock-elements .shiny-point.active {
  background-image: url("../images/graduation_hover.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-wrapper #GMV-time {
  position: relative;
  top: -84px;
  font-size: 24px;
}

.clock-wrapper #GMV-number {
  font-size: 120px;
  font-weight: 600;
  text-shadow: 0 0 14px;
}

.gauge-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 720px) {
  .gauge-wrapper {
    position: relative;
    width: 100vw;
    margin: 4rem 0 0 0;
  }
}

@media (min-width: 720px) {
  .gauge-wrapper {
    position: absolute;
    left: calc(50% + 120px);
    top: 4rem;
  }
}

.gauge-wrapper .gauge-elements {
  width: 226px;
  height: 226px;
  position: relative;
}

.gauge-wrapper .gauge-partials {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gauge-wrapper .gauge-partials .gauge-bg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 226px;
  background-image: url("../images/gauge-mobile.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.gauge-wrapper .gauge-partials .gauge-time {
  position: relative;
  top: -12px;
}

.gauge-wrapper .gauge-partials .gauge-number {
  line-height: 42px;
  margin-left: 8px;
}

.gauge-wrapper #progressBar {
  position: relative;
  top: 3px;
}

.gauge-wrapper #mobileRatio {
  font-size: 48px;
  font-weight: 400;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}

.gauge-wrapper .mobile-indicator {
  position: relative;
  top: 226px;
  left: 100px;
}

@media (max-width: 720px) {
  .gauge-wrapper .mobile-indicator {
    left: 90px;
  }
}

.gauge-wrapper .gauges-description {
  margin-left: 4em;
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 720px) {
  .gauge-wrapper .gauges-description {
    font-size: 80%;
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .gauge-wrapper .gauges-description {
    margin: 0 0 0 -16px;
  }
}

@media (max-width: 880px) {
  .gauge-wrapper .gauges-description {
    margin: 0 0 0 -32px;
  }
}

.description-title {
  font-size: 1.25em;
  line-height: 30px;
}

.description-text {
  font-size: 1.875em;
  line-height: 30px;
  text-shadow: 0px 2px 9px rgba(255, 255, 255, 0.6);
}

.fixed-layer {
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

@media (min-width: 720px) {
  .fixed-layer #logo {
    width: 39px;
    height: 13px;
    background-image: url("../images/Logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    left: 1rem;
    top: 1rem;
    position: fixed;
  }
  .fixed-layer .nav-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    width: 240px;
  }
  .fixed-layer nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 200px;
    background: linear-gradient(to right, black, transparent);
    z-index: 100;
  }
  .fixed-layer .anchors {
    margin: 0.3rem 0 0.3rem 1rem;
    text-decoration: none;
    color: #aaaaaa;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .fixed-layer .anchors.active {
    color: #ffffff;
  }
  .fixed-layer .anchors.active:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-top: 5px solid transparent;
    border-right: 8px solid #FF5733;
    border-bottom: 5px solid transparent;
  }
  .fixed-layer .anchors.active:hover {
    color: white;
  }
  .fixed-layer .anchors:hover {
    cursor: pointer;
    color: #ffffff;
    transition: 0.25s;
  }
}

.cards-wrapper {
  width: 104%;
  padding: 0 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-wrapper .card {
  position: relative;
  width: 353px;
  height: 256px;
  margin: 1rem 0.25rem;
  z-index: 1;
  overflow: visible;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cards-wrapper .card:hover {
  cursor: pointer;
  transition: 1.8s;
}

.cards-wrapper .card:hover .card-text {
  background: #763930;
}

.cards-wrapper .card:hover .text-container {
  z-index: -10;
}

.cards-wrapper .card:hover .card-frame-img {
  display: block;
}

.cards-wrapper .card:hover .card-image:after {
  background: rgba(255, 87, 51, 0.3);
}

.cards-wrapper .card .card-hover-frame {
  position: relative;
  overflow: visible;
}

.cards-wrapper .card .card-frame-img {
  display: none;
  position: absolute;
  background-image: url("../images/card-wrapper-frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 112.5%;
  width: 110%;
  left: -5%;
  top: -6.25%;
}

@media (max-width: 720px) {
  .cards-wrapper .card .card-frame-img {
    display: none !important;
  }
}

.card-image {
  position: relative;
  width: 100%;
  height: 156px;
  z-index: -10;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image .corner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  color: #FF5733;
}

.card-image:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0;
}

.text-container {
  width: 100%;
  color: white;
}

.card-text {
  width: 100%;
  min-height: 66px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
}

.cards-collapsed {
  max-height: 576px;
  overflow: hidden;
}

.btn-load-more {
  width: 96px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #FF5733;
  color: #FF5733;
  border-radius: 8px;
  margin: auto;
}

.btn-load-more:hover {
  cursor: pointer;
  box-shadow: inset 0 0 6px 2px #FF5733;
}

.outer-ring {
  animation: outerRing 3.5s 0.7s cubic-bezier(0.17, 0.37, 0.5, 0.75) infinite;
}

@keyframes outerRing {
  0 {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner-ring {
  animation: innerRing 3.5s 0.7s cubic-bezier(0.17, 0.37, 0.5, 0.75) infinite;
}

@keyframes innerRing {
  0 {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "PingFang SC", "Microsoft YaHei";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img, .images {
  margin: auto;
  max-width: 100%;
}

.background {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.background .full-moon {
  background: url(../images/full-moon.png) center center no-repeat;
  background-size: 100%;
  width: 595px;
  height: 573px;
  margin: auto;
  z-index: -100;
}

@media (max-width: 720px) {
  .background .full-moon {
    max-width: 100vw;
    max-height: 96.30252vw;
  }
}

@media screen and (min-width: 720px) {
  .wrapper {
    width: 756px;
    margin: auto;
    padding: 0 12px;
  }
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }
  .cards-wrapper {
    justify-content: center;
  }
  #navBar {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .nav-mobile .nav-mobile-header {
    padding: 3vw 2vw 2vw 2vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav-mobile .nav-mobile-header .menu-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
  }
  .nav-mobile .drop-down-list {
    border-top: 1px solid #404040;
    background: #000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding-left: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-mobile .drop-down-list a {
    color: white;
  }
  .nav-mobile .drop-down-list .list-items {
    border-bottom: 1px solid #404040;
    padding: 1rem;
    width: 100%;
  }
}

.pages:nth-child(n+2):before {
  content: '';
  display: block;
  border-top: 1px solid #ccc;
  opacity: 0.3;
  margin: 2rem 0;
  height: 2rem;
}

#page1 {
  min-height: 100vh;
  padding-top: 1rem;
}

.pages {
  text-align: center;
  margin: auto;
}

.pages .content-wrapper {
  margin: 80px 0 40px 0;
}

@media (max-width: 720px) {
  .pages .content-wrapper {
    margin-top: 120px;
  }
}

.pages .content-wrapper .images {
  margin: 3rem 0 1rem 0;
}

.pages .content-wrapper .img-default {
  width: 305px;
}

.pages .subtitles {
  margin: 1rem 0 0 0;
}

.pages .description {
  margin: 0 0 1rem 0;
}

.pages #themeImage {
  width: 135.6px;
  max-width: 25%;
}

.pages .data-trend-default {
  width: 305px;
  max-width: 100%;
  height: 64px;
  background-image: url("../images/data-trend-default.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.pages .data-trend {
  width: 744px;
  height: 82px;
  background-image: url("../images/data-trend.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pages .global-data {
  width: 807px;
  height: 441px;
  background-image: url("../images/global-trend.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pages .national-data {
  width: 807px;
  height: 441px;
  background-image: url("../images/global-trend.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pages .video {
  width: 756px;
  max-width: 731px;
  height: 371px;
  background-image: url("../images/video.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 720px) {
  .pages .video {
    width: 100vw;
    height: 50.75239vw;
  }
}

.pages .img-last-page {
  max-width: 60%;
}

.pages .text-under-image {
  margin: 1rem;
  font-size: 0.8rem;
  color: #aaa;
}

.pages .video-text {
  text-align: left;
  font-size: 1.2rem;
}

@media (max-width: 720px) {
  .pages .video-text {
    padding-left: 1rem;
  }
}

.pages .default-bottom-text {
  margin: 1rem 0 4rem 0;
  color: #FF5733;
}

.hidden {
  display: none !important;
}

.black-bg {
  background: #000;
}
