@import "variables";
.ring-1 {
  position: relative;
  top: 14px;
  left: -12px;
  width: $inner-ring-size;
  height: $inner-ring-size;
  margin: 0 auto;
  padding: $inner-ring-size;
  border: $inner-ring-size/8 $inner-ring-color;
  border-style: dashed;
  border-radius: 100%;

  animation: loadingD 3.5s .7s cubic-bezier(.17, .37, .50, .75) infinite;

  @keyframes loadingD {
  0 {
  transform: rotate(0deg);
}
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}