@import "mixins";
@import "variables";

.cards-wrapper {
  width: 104%;
  padding: 0 2%;
  @include my-flex($flow:row wrap);

  .card {
    position: relative;
    width: 353px;
    height: 256px;
    margin: 1rem 0.25rem;
    z-index: 1;
    overflow: visible;

    @include my-flex($flow:column nowrap, $justify: flex-start);

    &:hover {
      $hover-transition: 1.8s;
      cursor: pointer;
      transition: $hover-transition;
      .card-text {
        background: #763930;
      }
      .text-container {
        z-index: -10;
      }

      .card-frame-img {
        display: block;
      }
      .card-image:after {
        background: rgba(255,87,51,0.3);
      }
    }

    .card-hover-frame {
      position: relative;
      overflow: visible;
    }

    .card-frame-img {
      display: none;
      @media #{$mobile} {
        display: none !important;
      }
      position: absolute;
      @include div-with-bgImage('../images/card-wrapper-frame.png');
      $offset: 10%;
      height: 100% + $offset*1.25;
      width: 100% + $offset;
      left: -$offset/2;
      top: -$offset/1.6;
    }

  }
}

.card-image {
  position: relative;
  width: 100%;
  height: $card-image-height;
  z-index: -10;
  @include my-flex($flow:column nowrap, $justify:center, $align:center);
  overflow: hidden;

  .corner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    color: $theme-orange;



  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0);
    position: absolute;
    top: 0;
  }

}

.text-container {
  width: 100%;
  //height: $card-text-container-height;
  //flex-grow: 1;
  color: $font-color;
}

.card-text {
  width: 100%;
  min-height: 66px;
  overflow: hidden;
  @include my-flex($justify: flex-start, $align: center);
  text-align: justify;
}

.cards-collapsed {
  max-height: ($card-image-height + $card-text-container-height + $card-margin-vertical*2 ) * 2;
  overflow: hidden;
}