
// device geometry related
$PC-threshold: 720px;
$PC-wrapper-width: 732px;
$mobile: "(max-width:" + $PC-threshold + ")";
$PC: "(min-width:" + $PC-threshold + ")";

// background
$bg-color: rgba(0,0,0,1);
$font-color: rgba(255,255,255,1);

// circling rings
$inner-ring-size: 90px;
$inner-ring-color: #cbac5b;

// navigation list
$nav-list-color: #aaaaaa;
$nav-active-color: #ffffff;
$nav-hover-color: #ffffff;
$list-arrow-size: 5px;

// card links
$card-image-height: 156px;
$card-text-container-height: 100px;
$card-margin-vertical: 16px;

// load-more button
$btn-height: 28px;
$btn-width: 96px;
$theme-orange: #FF5733;