@import "_variables";
@import "_clock";
@import "fixed-layer";
@import "_mixins";
@import "_cards";
@import "_btn-load-more";
@import "animation";

* {
  @include vendor-prefix('box-sizing', 'border-box');
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: $font-color;
  font-family: "PingFang SC", "Microsoft YaHei";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img, .images {
  margin: auto;
  max-width: 100%;
}

.background {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include my-flex($justify: center, $align: center);
  z-index: -100;

  .full-moon {
    background: url(//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/full-moon.png) center center no-repeat;
    background-size: 100%;
    width: 595px;
    height: 573px;
    @media #{$mobile} {
      max-width: 100vw;
      max-height: 573/595 * 100vw;
    }
    margin: auto;
    z-index: -100;
  }
}



// PC only
@media screen and (min-width: $PC-threshold) {
  .wrapper {
    width: $PC-wrapper-width;
    margin: auto;
    padding: 0 $PC-wrapper-padding;
  }
  .nav-mobile {
    display: none;
  }
}

// mobile only
@media #{$mobile} {
  .wrapper {
    width: 100%;
    margin: auto;
  }
  .cards-wrapper {
    justify-content: center;
  }
  #navBar {
    display: none;
  }

  .nav-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .nav-mobile-header {
      padding: 3vw 2vw 2vw 2vw;
      @include my-flex($flow:row nowrap, $justify:space-between, $align: center);

      .menu-icon {
        display: inline-block;
        width: 37px;
        height: 32px;
        padding: 4px;
      }
    }

    .drop-down-list {
      border-top: 1px solid #404040;
      background: #000;
      a {
        color: $font-color;
      }

      @include my-flex($flow:column nowrap, $justify:flex-start, $align: flex-start);
      height: 100vh;
      padding-left: 2rem;
      @include my-flex($flow:column nowrap, $justify:flex-start, $align: flex-start);

      .list-items {
        border-bottom: 1px solid #404040;
        padding: 1rem;
        width: 100%;
      }
    }

  }

}

.pages:nth-child(n+2):before {
  content: '';
  display: block;
  border-top: 1px solid #ccc;
  opacity: 0.3;
  margin: 2rem 0;
  height: 2rem;
}

#page1 {
  min-height: 100vh;
  padding-top: 1rem;
}

.pages {
  text-align: center;
  margin: auto;

  .content-wrapper {
    margin: 80px 0 40px 0;
    @media #{$mobile} {
      margin-top: 120px;
    }

    @media #{$PC} {
      margin-top: 4vh;
    }

    .images {
      margin: 3rem 0 1rem 0;

    }

    .img-default {
      width: 305px;
    }

  }

  .subtitles {
    margin: 1rem 0 0 0;
  }

  .description {
    margin: 0 0 1rem 0;
  }

  #themeImage {
    $size-factor: 0.6;
    width: 226px *$size-factor;
    max-width: 25%;
  }

  .data-trend-default {
    width: 305px;
    max-width: 100%;
    height: 64px;
    @include div-with-bgImage('//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/data-trend-default.png');
    margin: auto;
  }

  .data-trend {
    width: 744px;
    height: 82px;
    @include div-with-bgImage('//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/data-trend.png');
  }

  .global-data {
    width: 807px;
    height: 441px;
    @include div-with-bgImage('//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/global-trend.png');
  }
  .national-data {
    width: 807px;
    height: 441px;
    @include div-with-bgImage('//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/global-trend.png');
  }

  .video {
    position: relative;
    width: $PC-wrapper-width;
    max-width: 731px;
    height: 371px;
    @include div-with-bgImage('//1111-dtcj-com.oss-cn-hangzhou.aliyuncs.com/images/video.png');
    @media #{$mobile} {
      width: 100vw;
      height: 371/731 * 100vw;
    }
  }

  .video-link {
    display: block;
    position:relative;
  }

  .img-last-page {
    max-width: 60%;
  }

  .text-under-image {
    margin: 1rem;
    font-size: 0.8rem;
    color: #aaa;
  }

  .video-text {
    text-align: left;
    font-size: 1.2rem;
    @media #{$mobile} {
      padding-left: 1rem;
    }
  }

  .data-global {

  }

  .default-bottom-text {
    margin: 1rem 0 4rem 0;
    color: $theme-orange;
  }

}

.hidden {
  display: none !important;
}
.black-bg {
  background: #000;
}