@import "_variables";
@import "_mixins";
@import "_cards";
@import "_btn-load-more";
@import "animation";


* {
  @include vendor-prefix('box-sizing', 'border-box');
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: $font-color;
  font-family: "PingFang SC";
}

a {
  text-decoration: none;
}

img, .images {
  margin: auto;
  max-width: 100%;
}

#logo {
  width: 39px;
  height: 13px;
  @include div-with-bgImage('../images/Logo.png');
  left: 1rem;
  top: 1rem;
  position: fixed;
}

.background {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include my-flex($justify: center, $align:center);
  z-index: -100;

  .full-moon {
    position: absolute;
    background: url(../images/full-moon.png) center center no-repeat;
    background-size: 100%;
    width: 595px;
    height: 573px;
    margin: auto;
    z-index: -100;
  }
}

.fixed-layer {
  position: fixed;
  top: 0;
  height: 100vh;
  //width: 100%;
  @include my-flex($flow: column, $justify: center);



  .nav-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    width: 200px;
  }

  nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 200px;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0))
  }

  .anchors {
    margin: 0.3rem 1rem;
    text-decoration: none;
    color: $nav-list-color;
    &.active {
      color: $nav-active-color;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0 0 $list-arrow-size;
        border-top: $list-arrow-size solid transparent;
        border-right: $list-arrow-size*1.6 solid #fff;
        border-bottom: $list-arrow-size solid transparent;
      }
      &:hover {
        color: $font-color;
      }
    }
    &:hover {
      cursor: pointer;
      color: $nav-hover-color;
      transition: 0.25s;
    }
  }
}

// PC only
@media screen and (min-width: $PC-threshold) {
  .wrapper {
    width: $PC-wrapper-width;
    margin: auto;
  }
}

// mobile only
@media #{$mobile} {
  .wrapper {
    width: 100%;
    margin: auto;
  }
  .cards-wrapper {
    justify-content: center;
  }
  #navBar {
    display: none;
  }

}



.pages:nth-child(n+2):before {
  content:'';
  display: block;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  height: 2rem;
}

#page1 {
  min-height: 100vh;
}

.pages {
  text-align: center;

  .subtitles {
    margin: 1rem 0 0 0;
  }

  .description {
    margin: 0 0 1rem 0;
  }

  .theme-image {
    $size-factor: 0.6;
    width: 226px *$size-factor;
    max-width: 100%;
    height: 179px *$size-factor;
    @include div-with-bgImage('../images/theme-image.png');
  }

  .clock-wrapper {
    height: 70vh;
    .clock-group {
      @include my-flex($flow: column nowrap, $justify: center);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -50;
      .clock-elements {
        $size-factor: 1;
        $clock-width: 354px * $size-factor;
        $clock-height: 358px * $size-factor;
        width: $clock-width;
        height: $clock-height;
        max-width: 100%;
        position: relative;
        left: 8px;

        .clock-partials {
          position: absolute;
          @include my-flex($justify: center, $align:center);
          width: $clock-width;
          height: $clock-height;
        }
        .clock-bg {
          width: $clock-width;
          height: $clock-height;
          @include div-with-bgImage('../images/clock-bg.png');
        }
        .outer-ring {
          $outer-ring-size-factor: 0.92;
          width: $clock-width * $outer-ring-size-factor;
          height: $clock-height * $outer-ring-size-factor;
          @include div-with-bgImage('../images/outer-ring.png');
        }
        .inner-ring {
          $inner-ring-size-factor: 0.85;
          width: $clock-width * $inner-ring-size-factor;
          height: $clock-height * $inner-ring-size-factor;
          @include div-with-bgImage('../images/inner-ring.png');
        }

        .unit-text {
          position: relative;
          top: 100px;
        }

      }

    }
  }

  #GMV-time {
    position: relative;
    top: -84px;
    font-size: 24px;
  }

  #GMV-number {
    font-size: 120px;
    font-weight: 600;
    text-shadow: 0 0 14px;
  }


  .data-trend {
    width: 305px;
    max-width: 100%;
    height: 64px;
    @include div-with-bgImage('../images/data-trend-before.png');
    margin: auto;
  }

  .video {
    width: $PC-wrapper-width;
    max-width: 731px;
    height: 371px;
    @include div-with-bgImage('../images/video.png');
    @media #{$mobile} {
      width: 100vw;
      height: 371/731 * 100vw;
    }

  }

  .big-data-inspection {
    max-width: 362px;
    height: 181px;
    @include div-with-bgImage('../images/big-data-inspection.png');
    @media #{$mobile} {
      width: 100vw;
      height: 50vw;
    }
  }

  .text-under-image {
    margin: 1rem;
    font-size: 0.8rem;
    color: #aaa;
  }

  .video-text {
    text-align: left;
    font-size: 1.2rem;
  }

  .data-global {

  }


  .default-bottom-text {
    margin: 1rem 0 4rem 0;
    color: $theme-orange;
  }

}


.hidden {
  display: none !important;
}
