
// device geometry related
$PC-threshold: 732px;

// background
$bg-color: rgba(0,0,0,1);
$font-color: rgba(255,255,255,1);

// circling rings
$inner-ring-size: 90px;
$inner-ring-color: #cbac5b;

// navigation list
$nav-list-color: #aaaaaa;
$nav-active-color: #ffffff;
$nav-hover-color: #00f;
$list-arrow-size: 5px;